<!DOCTYPE html>
<html lang="en">
<head>
    <title>OlympicMarathon</title>
</head>
<body>
    <footer>
        <script type"text javascript">
            var c = document.getElementById('myCanva');
            var ctx = c.getContext('2d');
            ctx.font = '30pt Calibri';
            ctx.strokeStyle = 'gray';
            ctx.lineWidth = 3;
            ctx.stokeText('London 2012', 80, 30)
        </script>
    </footer>
</body>
</html>