@{
    ViewBag.Title = "Index";
}

@section Scripts {
    <script src="~/Scripts/App/Product.js"> </script>
}

<h1>Primo Prodotto</h1>

<h1>Secondo Prodotto</h1>

<h1>Terzo Prodotto</h1>

<h1>Quarto Prodotto</h1>

<h2>price_ajax</h2>
<div class="price_ajax"></div>

<h2>price_getJSON</h2>
<div class="price_getJSON"></div>




